<!doctype html>
<html>
  <body>
    <h1>Reset your password</h1>
    <p>You're receiving this email because a password reset request was made for your {{ brand.title }} account.</p>
    <p>
      <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token='set-password' %}">Choose a new password</a>
    </p>
    <p>Or paste this link into your browser:</p>
    <p>
      {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </p>
    <p>If you didn't request this, you can safely ignore this email.</p>
    <p>Thanks,<br />The {{ brand.title }} team</p>
  </body>
</html>
