{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Unlock Survey" %} - {{ survey.name }}{% endblock %}
{% block content %}
<div class="prose">
  {% trans "Survey Dashboard" as crumb1_text %}
  {% trans "Unlock" as crumb2_text %}
  {% include 'components/breadcrumbs.html' with crumb1_label=crumb1_text crumb1_href="/surveys/"|add:survey.slug|add:"/dashboard/" crumb2_label=crumb2_text %}
  %}
  <h1>{% trans "Unlock" %} {{ survey.name }}</h1>
  <p>{% trans "Enter the one-time survey key to decrypt sensitive fields for this session." %}</p>
</div>
<form method="post" class="mt-4 space-y-4">
  {% csrf_token %}
  <input type="password" name="key" class="input input-bordered w-full max-w-md" placeholder="{% trans 'Survey key' %}" />
  <button class="btn btn-primary" type="submit">{% trans "Unlock" %}</button>


</form>
{% endblock %}
